{% extends 'cementerio/base.html' %}
{% load humanize %}

{% block main %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'cementerio:inicio' %}">Inicio</a></li>
    <li class="breadcrumb-item">Clientes</li>
    <li class="breadcrumb-item active">{{ cliente.nombre }}</li>
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <strong><i class="icon-people"></i> Cliente</strong> {{ cliente.nombre }}
                    </div>
                    <div class="card-body">
                        <p><strong>N. Cliente:</strong> {{ cliente.pk }}</p>

                        <p>
                            <strong>Nombre:</strong> {{ cliente.nombre|default:'' }} {{ cliente.apellido|default:'' }}
                        </p>

                        <p><strong>Teléfono:</strong> {{ cliente.telefono|default:'' }}</p>

                        <p><strong>Dirección:</strong> {{ cliente.direccion|default:'' }}</p>

                        <p><strong>Notas :</strong> {{ cliente.notas | default:'' }}</p>

                        <p><strong>Fecha de registro:</strong> {{ cliente.fecha_regitro }}</p>

                        <p><strong>Creado por :</strong> {{ cliente.creado_por.email|default:'No encontrado' }}</p>

                        {% if perms.cementerio.change_cliente %}
                        <p>
                            <a href="{% url 'cementerio:clientesmodificar' pk=cliente.pk %}"
                                class="btn btn-primary">Actualizar</a>
                        </p>
                        {% endif %}

                        {% if perms.cementerio.delete_cliente %}
                        <p>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#dangerModal">
                                <i class="icon-trash"></i> Eliminar
                            </button>
                        </p>
                        {% endif %}

                        {% if perms.cementerio.add_terreno %}
                        <p>
                            <a href="{% url 'cementerio:clientesagregarterreno' pk=cliente.pk %}"
                                class="btn btn-primary">Agregar Terreno</a>
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="card card-outline-info">
                    <div class="card-header">
                        <i class="icon-directions"></i> Terrenos
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>N. Terreno</th>
                                    <th>Difuntos</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for terreno in cliente.terrenos.all %}
                                <tr>
                                    <td>
                                        <a href="{% url 'cementerio:terrenosdetalle' pk=terreno.pk %}">{{ terreno }}</a>
                                    </td>
                                    <td>
                                        {% for difunto in terreno.difuntos.all %}
                                        <a href="{% url 'cementerio:difuntosdetalle' pk=difunto.pk %}">{{ difunto }}</a>
                                        {% endfor %}
                                    </td>
                                    <td></td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dangerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">¿Realmente desea eliminar?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Realmente desea eliminar {{ cliente }}?</p>

                <p>Esto eliminara los elementos asociados a este cliente</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <form method="post" action="{% url 'cementerio:clienteseliminar' pk=cliente.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger"><i class="icon-trash"></i> Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}