{% extends 'cementerio/base.html' %}
{% load humanize %}

{% block main %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'cementerio:inicio' %}">Inicio</a></li>
        <li class="breadcrumb-item active">Difuntos</li>
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Buscar</strong> Difunto
                        </div>
                        <div class="card-body">
                            <form action="" method="get" class="form-horizontal">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <input type="text" id="input1-group2" name="q"
                                                   class="form-control" placeholder="Nombre">
                                            <span class="input-group-btn">
                                                        <button type="submit" class="btn btn-primary"><i
                                                                class="fa fa-search"></i> Buscar
                                                        </button>
                                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="icon-ghost"></i> Difuntos
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Fecha de Fallecido</th>
                                    <th>Terreno</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for difunto in page_obj %}
                                    <tr>
                                        <td><a href="{% url 'cementerio:difuntosdetalle' pk=difunto.pk %}">{{ difunto }}</a></td>
                                        <td>{{ difunto.fecha_fallecimiento | default:'' }}</td>
                                        <td><a href="#">{{ difunto.terreno }}</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                            Anterior
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1">1</a>
                                    </li>
                                    {% endif %}
                                    <li class="page-item active" aria-current="page">
                                        <a class="page-link" href="?page={{ page_obj.number }}">
                                            {{ page_obj.number }}
                                        </a>
                                    </li>
                                    {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.num_pages }}">
                                            {{ page_obj.paginator.num_pages }}
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                            Siguiente
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}